/* Base */

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  background-color: #f6f2ee;
  font-family: "Karla", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.5;
  margin: 0;
  color: #1b2633;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

html,
body {
  overflow-x: hidden;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/* Table */
table {
  border-collapse: collapse;
  display: block;
  overflow: auto;
  width: 100%;
}

thead, tbody {
  border: 0;
  margin: 0;
  padding: 0;
  font-size: 100%;
}

thead {
  font: inherit;
  vertical-align: baseline;
}

tbody {
  vertical-align: middle;
}

/* dark: #ebe3db darker: e6dcd1 */
th, td {
  border: 1px solid #ebe3db;
  padding: 0.425em 0.75em;
  vertical-align: top;
}

th code, td code {
  background: none !important;
  color: #111;
}

th {
  font-weight: bold;
  text-align: left;
}

/* Single Direction Margins */

h1,h2,h3,h4,h5,h6,hgroup,
ul,ol,dd,
p,figure,
pre,table,fieldset,hr, .highlight {
  margin-top: 0;
  margin-bottom: 24px;
  margin-bottom: 1.5rem;
}

img {
  max-width: 100%;
}

svg, img {
  fill: currentColor;
}

h2 {
  font-size: 48px;
  font-size: 3rem;
}

h3 {
  font-size: 24px;
  font-size: 1.5rem;
}

h4 {
  font-size: 21px;
  font-size: 1.3125rem;
}

/* Headlines & Heading Styles */

.Headline {
  font-family: "Didot", "Cochin", serif;
  font-size: 48px;
  font-size: 3rem;
  font-weight: normal;
}

.Headline--major {
  line-height: 1.3;
  font-style: italic;
}

@media only screen and (min-width: 44em) {
  .Headline--major {
    font-size: 56px;
    font-size: 3.5rem;
    line-height: 1.2;
    font-style: italic;
  }
}

.Smallcaps {
  text-transform: uppercase;
  font-size: 0.85em;
  font-weight: bold;
  color: #91887e;
}

/* Layout */

.Container {
  margin: 0 auto;
  max-width: 960px;
  padding-left: 1em;
  padding-right: 1em;
}

.Row {
  padding: 36px 0;
  padding: 2rem 0;
}

.Grid {
  display: block;
  margin: 0;
  padding: 0;
  text-align: left;
  font-size: 0;
}

.Grid--padded {
  margin-right: -18px;
  margin-left: -18px;
}

.Grid--padded > .Grid-unit {
  padding-right: 18px;
  padding-left: 18px;
}

.Grid-unit {
  font-size: 16px;
  font-size: 1rem;
  display: inline-block;
  margin: 0;
  padding: 0;
  text-align: left;
  vertical-align: top;
  width: 100%;
}

/* Header */

.Header {
  position: relative;
  padding-top: 40px;
  padding-bottom: 24px;
}

@media only screen and (min-width: 44em) {
  .Header {
    padding-top: 135px;
    padding-bottom: 45px;
  }
}

.Logo {
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 1;
  margin: 0 auto;
  text-align: center;
}

.Logo img {
  width: 150px;
}

@media only screen and (min-width: 44em) {
  .Logo img {
    width: 230px;
  }
}

/* Footer */

.Footer {
  background: #2b303b;
  color: #fff;
}

.Footer a {
  font-weight: 700;
  color: #FF4136;
}

.Footer a:hover,
.Footer a:focus {
  color: #fff;
}

.FooterLogo {
  display: block;
  margin: 16px 0;
}

.FooterLogo img {
  display: block;
  margin: 0 auto;
}

/* Components */

.Installer {
  display: inline-block;
  background: #2b303b;
  border: 1px solid #16191F;
  color: #fff;
  font-family: "Source Code Pro", monospace;
  font-size: 18px;
  line-height: 1.2;
  margin: 0 auto;
  padding: 16px 32px;
}

@media only screen and (min-width: 44em) {
  .Installer {
    padding: 24px 48px;
    margin-top: 24px;
    margin-bottom: 24px;
  }
}

/* Copy */

@media only screen and (min-width: 44em) {
  .Copy {
    font-size: 18px;
    font-size: 1.125rem;
  }
}

.Copy .highlight, .Copy .Interactive {
  margin-left: -16px;
  margin-right: -16px;
}

.Copy .highlight pre {
  margin-bottom: 0;
}

.Copy .highlight pre {
  background: #2b303b;
  color: #fff;
  font-family: "Source Code Pro", monospace;
  font-size: 16px;
  line-height: 1.2;
  overflow: auto;
  padding: 16px;
}

@media only screen and (min-width: 44em) {
  .Copy .highlight, .Copy .Interactive {
    margin: 36px -24px;
  }

  .Copy .highlight pre {
    padding: 24px;
  }
}

.Copy ul {
  padding-left: 24px;
  list-style: none;
}

.Copy ul > li {
  position: relative;
}

.Copy ul > li + li {
  margin-top: 10px;
}

.Copy ul > li:before {
  content: "";
  width: 1em;
  height: 1em;
  display: block;
  position: absolute;
  font-size: 8px;
  border-radius: 50%;
  border: 1px solid #B22D26;
  left: -24px;
  top: 11px;
}

.Copy li > ul {
  margin-top: 10px;
  margin-bottom: 0;
}

.Copy a {
  color: #B22D26;
  font-weight: 700;
}

.Copy a:hover,
.Copy a:focus {
  color: #2b303b;
}

.Copy code {
  font-family: "Source Code Pro", monospace;
  background: #f0eae4;
  border-radius: 2px;
  padding: 0 3px;
}

.CopySmall {
  font-size: 16px;
}

.highlight code {
  background: transparent;
  padding: 0;
}

/* Banner in footer */

.Formidabanner {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  padding: 10px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(29, 34, 39);
  color: rgb(255, 255, 255);
  font-weight: 700;
  text-decoration: none;
  text-align: center;
  background: rgb(43, 48, 59);
}

/* Component Playground */

.Row .Interactive {
  margin-top: -24px;
  margin-top: -1.5rem;
}

.Interactive:before {
  content: "Interactive Code";
  font-weight: bold;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1;
  text-transform: uppercase;
}

.Interactive .playgroundCode {
  background: #2b303b;
  font-family: "Source Code Pro", monospace;
  font-size: 16px;
  line-height: 1.2;
  padding-bottom: 16px 16px 0 16px;
  margin-bottom: 30px;
}

.Interactive .playgroundPreview {
  background: #fff;
  margin-bottom: 48px;
  position: relative;
}

.Interactive .playgroundPreview:before {
  content: "Live Preview";
  font-weight: bold;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1;
  position: absolute;
  top: -18px;
  text-transform: uppercase;
}

.Interactive pre, .CodeMirror-code {
  font-family: "Source Code Pro", monospace;
  font-size: 16px;
  line-height: 1.2;
}

/* Markdown Docs */
.Documentation h1, .Documentation h2, .Documentation h3 {
  font-family: "Didot", "Cochin", serif;
  /*font-size: 48px;
  font-size: 3rem;*/
  font-weight: normal;
}

/*.Headline--major {
  line-height: 1.3;
  font-style: italic;
}

@media only screen and (min-width: 44em) {
  .Headline--major {
    font-size: 56px;
    font-size: 3.5rem;
    line-height: 1.2;
    font-style: italic;
  }
}*/

/* Utilities */

.u-size1of2 {
  width: 50%;
}

.u-size1of3 {
  width: 33.3333%;
}

.u-size2of3 {
  width: 66.6666%;
}

.u-noMargin {
  margin-bottom: 0;
}

.u-textCenter {
  text-align: center;
}

.u-textLeft {
  text-align: left;
}

.u-textIndent {
  margin-left: 12px;
}

.u-marginModule > *:last-child {
  margin-bottom: 0;
}

@media only screen and (min-width: 44em) {
  .u-size1of2-l {
    width: 50%;
  }

  .u-size1of3-l {
    width: 33.3333%;
  }

  .u-size2of3-l {
    width: 66.6666%;
  }

  .u-margin-l {
    margin-bottom: 24px;
  }

  .u-noMargin-l {
    margin-bottom: 0;
  }
}

/* Arrange */
.Arrange {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: table; /
  margin: 0;
  min-width: 100%;
  padding: 0;
  table-layout: auto;
}

.Arrange-fill,
.Arrange-fit {
  display: table-cell;
  padding: 0; /* 1 */
  vertical-align: top; /* 2 */
}

.Arrange-fill {
  width: 100%;
}

.Arrange-fill img {
  height: auto;
  max-width: 100%;
}

.Arrange-fit img {
  max-width: none !important;
  width: auto !important;
}

/* Vertical alignment modifiers */

.Arrange--middle > .Arrange-fill,
.Arrange--middle > .Arrange-fit {
  vertical-align: middle;
}

.Arrange--bottom > .Arrange-fill,
.Arrange--bottom > .Arrange-fit {
  vertical-align: bottom;
}

.Arrange--equal {
  table-layout: fixed;
  width: 100%;
}

.Arrange--equal > .Arrange-fill,
.Arrange--equal > .Arrange-fit {
  width: 1%;
}

.Arrange--withGutter {
  margin: 0 calc(-0.5 * 24px);
}

.Arrange--withGutter > .Arrange-fit,
.Arrange--withGutter > .Arrange-fill {
  padding: 0 calc(0.5 * 24px);
}

/* Syntax Highlighting */

/*

Name:       Base16 Ocean Dark
Author:     Chris Kempson (http://chriskempson.com)

Pygments template by Jan T. Sott (https://github.com/idleberg)
Created with Base16 Builder by Chris Kempson (https://github.com/chriskempson/base16-builder)

*/
.highlight .hll { background-color: #4f5b66 }
.highlight  { background: #2b303b; color: #eff1f5 }
.highlight .c { color: #65737e } /* Comment */
.highlight .err { color: #bf616a } /* Error */
.highlight .k { color: #b48ead } /* Keyword */
.highlight .l { color: #d08770 } /* Literal */
.highlight .n { color: #eff1f5 } /* Name */
.highlight .o { color: #96b5b4 } /* Operator */
.highlight .p { color: #eff1f5 } /* Punctuation */
.highlight .cm { color: #65737e } /* Comment.Multiline */
.highlight .cp { color: #65737e } /* Comment.Preproc */
.highlight .c1 { color: #65737e } /* Comment.Single */
.highlight .cs { color: #65737e } /* Comment.Special */
.highlight .gd { color: #bf616a } /* Generic.Deleted */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gh { color: #eff1f5; font-weight: bold } /* Generic.Heading */
.highlight .gi { color: #a3be8c } /* Generic.Inserted */
.highlight .gp { color: #65737e; font-weight: bold } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #96b5b4; font-weight: bold } /* Generic.Subheading */
.highlight .kc { color: #b48ead } /* Keyword.Constant */
.highlight .kd { color: #b48ead } /* Keyword.Declaration */
.highlight .kn { color: #96b5b4 } /* Keyword.Namespace */
.highlight .kp { color: #b48ead } /* Keyword.Pseudo */
.highlight .kr { color: #b48ead } /* Keyword.Reserved */
.highlight .kt { color: #ebcb8b } /* Keyword.Type */
.highlight .ld { color: #a3be8c } /* Literal.Date */
.highlight .m { color: #d08770 } /* Literal.Number */
.highlight .s { color: #a3be8c } /* Literal.String */
.highlight .na { color: #8fa1b3 } /* Name.Attribute */
.highlight .nb { color: #eff1f5 } /* Name.Builtin */
.highlight .nc { color: #ebcb8b } /* Name.Class */
.highlight .no { color: #bf616a } /* Name.Constant */
.highlight .nd { color: #96b5b4 } /* Name.Decorator */
.highlight .ni { color: #eff1f5 } /* Name.Entity */
.highlight .ne { color: #bf616a } /* Name.Exception */
.highlight .nf { color: #8fa1b3 } /* Name.Function */
.highlight .nl { color: #eff1f5 } /* Name.Label */
.highlight .nn { color: #ebcb8b } /* Name.Namespace */
.highlight .nx { color: #fff } /* Name.Other */
.highlight .py { color: #eff1f5 } /* Name.Property */
.highlight .nt { color: #96b5b4 } /* Name.Tag */
.highlight .nv { color: #bf616a } /* Name.Variable */
.highlight .ow { color: #96b5b4 } /* Operator.Word */
.highlight .w { color: #eff1f5 } /* Text.Whitespace */
.highlight .mf { color: #d08770 } /* Literal.Number.Float */
.highlight .mh { color: #d08770 } /* Literal.Number.Hex */
.highlight .mi { color: #d08770 } /* Literal.Number.Integer */
.highlight .mo { color: #d08770 } /* Literal.Number.Oct */
.highlight .sb { color: #a3be8c } /* Literal.String.Backtick */
.highlight .sc { color: #eff1f5 } /* Literal.String.Char */
.highlight .sd { color: #65737e } /* Literal.String.Doc */
.highlight .s2 { color: #a3be8c } /* Literal.String.Double */
.highlight .se { color: #d08770 } /* Literal.String.Escape */
.highlight .sh { color: #a3be8c } /* Literal.String.Heredoc */
.highlight .si { color: #d08770 } /* Literal.String.Interpol */
.highlight .sx { color: #a3be8c } /* Literal.String.Other */
.highlight .sr { color: #a3be8c } /* Literal.String.Regex */
.highlight .s1 { color: #a3be8c } /* Literal.String.Single */
.highlight .ss { color: #a3be8c } /* Literal.String.Symbol */
.highlight .bp { color: #eff1f5 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #bf616a } /* Name.Variable.Class */
.highlight .vg { color: #bf616a } /* Name.Variable.Global */
.highlight .vi { color: #bf616a } /* Name.Variable.Instance */
.highlight .il { color: #d08770 } /* Literal.Number.Integer.Long */

/*
    Name:       Base16 Ocean Dark
    Author:     Chris Kempson (http://chriskempson.com)
    CodeMirror template by Jan T. Sott (https://github.com/idleberg/base16-codemirror)
    Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)
*/

.cm-s-base16-ocean-dark.CodeMirror {background: #2b303b; color: #dfe1e8;}
.cm-s-base16-ocean-dark div.CodeMirror-selected {background: #343d46 !important;}
.cm-s-base16-ocean-dark .CodeMirror-gutters {background: #2b303b; border-right: 0px;}
.cm-s-base16-ocean-dark .CodeMirror-linenumber {color: #65737e;}
.cm-s-base16-ocean-dark .CodeMirror-cursor {border-left: 1px solid #a7adba !important;}

.cm-s-base16-ocean-dark span.cm-comment {color: #ab7967;}
.cm-s-base16-ocean-dark span.cm-atom {color: #b48ead;}
.cm-s-base16-ocean-dark span.cm-number {color: #b48ead;}

.cm-s-base16-ocean-dark span.cm-property, .cm-s-base16-ocean-dark span.cm-attribute {color: #a3be8c;}
.cm-s-base16-ocean-dark span.cm-keyword {color: #bf616a;}
.cm-s-base16-ocean-dark span.cm-string {color: #ebcb8b;}

.cm-s-base16-ocean-dark span.cm-variable {color: #a3be8c;}
.cm-s-base16-ocean-dark span.cm-variable-2 {color: #8fa1b3;}
.cm-s-base16-ocean-dark span.cm-def {color: #d08770;}
.cm-s-base16-ocean-dark span.cm-error {background: #bf616a; color: #a7adba;}
.cm-s-base16-ocean-dark span.cm-bracket {color: #dfe1e8;}
.cm-s-base16-ocean-dark span.cm-tag {color: #bf616a;}
.cm-s-base16-ocean-dark span.cm-link {color: #b48ead;}

.cm-s-base16-ocean-dark .CodeMirror-matchingbracket { text-decoration: underline; color: white !important;}
