
{
  "extends": "formidable/configurations/es6-react",
  "env": { "mocha": true },
  "plugins": [
    "mocha"
  ],
  "rules": {
    "mocha/no-exclusive-tests": 2,
    "no-magic-numbers": 0,
    "import/no-unresolved": 0
  },
  "globals": { "expect": false }
}
