{
  "extends": ["formidable/configurations/es6-react", "prettier"],
  "rules": {
    "import/no-unresolved": [2, { "ignore": ["victory*"] }],
    "max-statements": 0,
    "no-magic-numbers": [
      "error",
      { "ignore": [-1, 0, 0.5, 1, 2, 90, 180, 270, 360] }
    ]
  }
}
