### SublimeText ###
*.sublime-workspace

### OSX ###
.AppleDouble
.DS_Store
.LSOverride
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

### Windows ###
# Windows image file caches
ehthumbs.db
Thumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# App specific
.tmp
.vscode
bower_components
coverage
dist
lib
es
node_modules
npm-debug.log*
yarn.lock
yarn-error.log*
