# Cruft
._*
.AppleDouble
.DS_Store
.LSOverride
.Spotlight-V100
.tmp
.Trashes
*.sublime-workspace
$RECYCLE.BIN/
Desktop.ini
ehthumbs.db
Icon
npm-debug.log*
Thumbs.db

# Code / build
.editor*
.eslint*
.travis*
bower_components
coverage
demo
docs/build
dist/*.map
karma*
node_modules
test
webpack*
