.vscode
coverage
dist
lib
es
node_modules
npm-debug.log*
lerna-debug.log*
yarn-error.log*
.cache
lerna.json
tsconfig.json
storybook-static
docs/artifacts
docs/dist
docs/public
docs/tmp
docs/static
docs/.cache
docs/node_modules