.vscode
coverage
dist
lib
lib-vendor
es
packages/victory-vendor/d3-*
node_modules
npm-debug.log*
lerna-debug.log*
yarn-error.log*
.cache
lerna.json
tsconfig.json
tsconfig.*.json
storybook-static
public
.expo
