.cache
.changeset
.docusaurus
.expo
.storybook
.wireit
.vscode
coverage
dist
build
lib
lib-vendor
es
packages/victory-vendor/d3-*
node_modules
.pnpm-debug.log*
npm-debug.log*
lerna-debug.log*
yarn-error.log*
lerna.json
tsconfig.json
tsconfig.*.json
storybook-static
public
artifacts
