language: node_js

node_js:
  # - "0.12" TODO: fails with babel-presets-react-native
  # https://github.com/FormidableLabs/victory/issues/291
  - "4.2"
  - "5.0"

# Use container-based Travis infrastructure.
sudo: false

branches:
  only:
    - master

before_install:
  # GUI for real browsers.
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start

  # Install npmv3 because of postinstall bugs in npmv2:
  # See https://github.com/FormidableLabs/victory/issues/98
  - npm install -g npm@3

script:
  - npm --version
  - node_modules/.bin/builder run check-ci

  # Prune deps to just production and ensure we can still build
  - npm prune --production
  - node_modules/.bin/builder run build
