/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
}

@font-face {
  font-family: "Inter";
  src: url("/font/InterRegular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("/font/InterMedium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("/font/InterBold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

.hero-pattern {
  background-image: url("/img/hero-background.svg");
}

:root {
  --ifm-color-primary: #ff684f;
  --ifm-color-primary-dark: #ff4b2e;
  --ifm-color-primary-darker: #ff3d1d;
  --ifm-color-primary-darkest: #ea2100;
  --ifm-color-primary-light: #ff8570;
  --ifm-color-primary-lighter: #ff9381;
  --ifm-color-primary-lightest: #ffbeb3;
  --ifm-code-font-size: 95%;
  --ifm-list-item-margin: 0;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
  --ifm-navbar-background-color: #242526;
  --ifm-footer-background-color: #242526;
  --ifm-navbar-link-color: #ffffff;
  --ifm-footer-padding-vertical: 1rem;
}

[data-theme="dark"] {
  --ifm-color-primary: #ff684f;
  --ifm-color-primary-dark: #ff4b2e;
  --ifm-color-primary-darker: #ff3d1d;
  --ifm-color-primary-darkest: #ea2100;
  --ifm-color-primary-light: #ff8570;
  --ifm-color-primary-lighter: #ff9381;
  --ifm-color-primary-lightest: #ffbeb3;
  --ifm-list-item-margin: 0;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
  --ifm-navbar-background-color: #242526;
  --ifm-footer-background-color: #242526;
}

/* Nav */
.header-github-link::before {
  content: "";
  width: 24px;
  height: 24px;
  display: flex;
  background: url("data:image/svg+xml;charset=utf-8,%3Csvg fill='white' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E")
    no-repeat;
}

.navbar__inner button svg {
  color: white;
}

/* Override right margin on logo */
.navbar__logo {
  flex: 0 0 auto;
  height: 2rem;
  margin-right: 2rem;
}

/* Custom Footer */
.footer__bottom.text--center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__bottom.text--center a {
  opacity: 1 !important;
}

.footer__copyright {
  color: white;
}
