<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Victory | {{ page.title }}</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link href='https://fonts.googleapis.com/css?family=Karla:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="styles/demo.css"/>
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.5/styles/solarized_dark.min.css">
</head>
<body>
  <!--[if lt IE 8]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->
  <header class="Header">
    <div class="Container">
    <div class="Row">
      <h1 class="Logo">
        <img width="230px" src="img/logo-victory.svg" alt="Victory">
      </h1>
    </div>
    <div class="Row">
      <p class="Headline Headline--major u-textCenter">Powerful, effortless data visualization</p>
      <p class="Copy">
        Victory is a collection of chart components that swap out D3’s DOM model for ReactJS. It combines low level control of animations and transitions with chart reusability.
      </p>
      <div class="u-textCenter u-marginModule">
        <code class="Installer">npm install victory</code>
      </div>
    </div>
  </header>
