{% include header.html title="Victory Pie" variable-title=page.title %}

  <div class="Container">
    <div class="Copy Row u-marginModule">
      <h2 class="Headline">Overview</h2>
      <p>Colin enters stage left. He writes an enthralling overview of victory. Everyone is pleased. They lie awake on the eve before the launch, anxious for the obvious imminent success awaiting for them during the morning sun. Paula thinks about pancakes and bacon.</p>
    </div>

    <div class="Row">
      <div id="playground">
        <!-- this is where the root react component will get rendered -->
      </div>
    </div>

  </div>

{% include footer.html %}
