{
  "extends": [
    "formidable/configurations/es6-react",
    "prettier",
    "prettier/react",
    "prettier/standard"
  ],
  "env": {
    "browser": true
  },
  "globals": {
    "__dirname": true,
    "$": true
  },
  "plugins": ["prettier", "react"],
  "rules": {
    "filenames/match-regex": ["error", "^(_|)[a-z0-9\\-\\.]+$", false],
    "consistent-return": "warn",
    "no-magic-numbers": "off",
    "promise/avoid-new": "off",
    "react/jsx-handler-names": "off",
    "max-params": ["error", 4],
    "prettier/prettier": [
      "error",
      {
        "singleQuote": false
      }
    ]
  }
}
