name: CI

# Runs build and test on:
#   every push to main
#   every pull request with main branch as the base
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          ref: "test" # branch to compare to
          path: br-base # required
          token: ${{ secrets.GITHUB_TOKEN }}

      - uses: ./.github/actions/setup

      - name: Bundle size report
        uses: nejcm/bundle-size-reporter-action@v1.2.1
        with:
          paths: "packages/*"
          onlyDiff: "true"
          filter: '.*\\.min\\.js'

      - name: Check all package.json's and tsconfig.json's are in sync.
        run: |
          pnpm sync
          git diff --no-ext-diff --quiet --exit-code

      - name: Build libraries and distributions
        run: pnpm build

      - name: Types
        run: pnpm types:check

  format:
    needs: [build]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup

      - name: Format
        run: pnpm format

  lint:
    needs: [build]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup

      - name: Lint
        run: pnpm lint

  test:
    needs: [build]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup

      - name: Test
        run: pnpm jest
