<VictoryPie
  borderWidth={2}
  data={[
    {x: "<5", y: 6279},
    {x: "5-13", y: 9182},
    {x: "14-17", y: 5511},
    {x: "18-24", y: 7164},
    {x: "25-44", y: 6716},
    {x: "45-64", y: 4263},
    {x: "≥65", y: 7502}
  ]}
  fontColor="white"
  fontSize="20px"
  fontWeight={700}
  innerRadius={100}
  sliceColors={[
    "#000",
    "#222",
    "#444",
    "#555",
    "#666",
    "#888",
    "#999"
  ]}/>
